html {
    height: 100vh;
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: futura;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #171D1C;
    margin: 0;
    height: 100%;
    color: #EFF1FA;
}

header,
footer {
    background-color: #4A5240;
}
header{
    padding: 5%;
}

footer {
    padding: 24px;
}

main {
    flex-grow: 1;
    padding: 5%;
}


p{
    padding: 3%;
    margin: auto;
    width: 50%;
    font-family: caslon;
}

.main-content {
    padding: 24px;
    margin: auto;
}

.main-content {
    color: #171D1C;
    font-size: large;
    padding: 0;
}