html {
    height: 100vh;
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: futura;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #171D1C;
    margin: 0;
    height: 100%;
    color: #EFF1FA;
}

header,
footer {
    padding: 48px;
    background-color: #4A5240;
    
}

main {
    flex-grow: 1;
}


p{
    padding-top: 50px;
    margin: auto;
    width: 50%;
    font-family: caslon;
}

.main-content {
    padding: 24px;
    margin: auto;
}